/* Gutenberg Editor Styles */

.editor-visual-editor,
.editor-visual-editor p {
	font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
	color: #444;
}

.blocks-editable__tinymce a {
	color: #eaa553;
	text-decoration: none;
	transition: 0.3s color;
}

.blocks-editable__tinymce a:visited {
	color: #eaa553;
}

.blocks-editable__tinymce a:hover,
.blocks-editable__tinymce a:focus,
.blocks-editable__tinymce a:active {
	color: #4cb0c1;
}

.blocks-editable__tinymce a:focus {
	outline: thin dotted;
}

.blocks-editable__tinymce a:hover,
.blocks-editable__tinymce a:active {
	outline: 0;
	text-decoration: none;
}

h1.mce-content-body,
h2.mce-content-body,
h3.mce-content-body,
h4.mce-content-body,
h5.mce-content-body,
h6.mce-content-body,
.editor-block-list__block[data-type="core/heading"] h1,
.editor-block-list__block[data-type="core/heading"] h2,
.editor-block-list__block[data-type="core/heading"] h3,
.editor-block-list__block[data-type="core/heading"] h4,
.editor-block-list__block[data-type="core/heading"] h5,
.editor-block-list__block[data-type="core/heading"] h6 {
	color: #9dbc71;
	clear: both;
	font-family: "Zilla Slab", "Merriweather", Georgia, "Times New Roman", serif;
	font-weight: bold;
}

.editor-block-list__block[data-type="core/heading"] h1 {
	font-size: 42px;
}

.editor-block-list__block[data-type="core/heading"] h2 {
	font-size: 36px;
}

.editor-block-list__block[data-type="core/heading"] h3 {
	font-size: 24px;
}

.editor-block-list__block[data-type="core/heading"] h4 {
	font-size: 18px;
}

.editor-block-list__block[data-type="core/heading"] h5 {
	font-size: 16px;
}

.editor-block-list__block[data-type="core/heading"] h6 {
	font-size: 14px;
}

p {
	margin-bottom: 1.6em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.6em;
	font-style: italic;
	font-size: 24px;
}

address {
	margin: 0 0 1.6em;
}

pre {
	background: rgba(255,255,255,.1);
	border: 2px dashed #e06e53;
	font-family: "Courier 10 Pitch", Courier, monospace;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.aligncenter img {
	display: block;
	margin: 0 auto;
}

/* Dropcaps */
p.has-drop-cap:first-letter {
	font-family: "Zilla Slab", "Merriweather", Georgia, "Times New Roman", serif;
	font-size: 4.8em;
	margin-right: .1em;
}

/* Images */
.wp-block-image {
	margin-bottom: 1.6em;
}
.wp-block-image figcaption {
	font-style: italic;
	font-size: 14px;
	margin: .8em auto;
}

/* Galleries */
.wp-block-gallery {}
.columns-1 {}
.columns-2 {}
.columns-3 {}
.columns-4 {}
.columns-5 {}

/* Blockquotes*/
.wp-block-quote > .blocks-editable p {
	font-size: 24px;
}
.wp-block-quote:not(.is-large) {
	border: 0;
	padding-left: 0;
}
.wp-block-quote p:last-of-type {
	margin-bottom: .4em;
}
.wp-block-quote cite,
.wp-block-quote > .blocks-editable footer {
	display: block;
	font-size: 16px;
	font-style: normal;
	color: #888;
	margin-bottom: 1.6em;
	text-align: right;
	width: 100%;
}
.blocks-quote-style-1 {}
.blocks-quote-style-2 {}

/* Cover Images */
.wp-block-cover-image {
	margin: 0 0 1.6em;
}
.wp-block-cover-image h1,
.wp-block-cover-image h2,
.wp-block-cover-image h3,
.wp-block-cover-image h4,
.wp-block-cover-image h5,
.wp-block-cover-image h6 {
	color: #fff;
	font-weight: normal;
}
.wp-block-cover-image .blocks-editable strong {
	font-weight: bold;
}
.wp-block-cover-image .blocks-editable a,
.wp-block-cover-image .blocks-editable a:visited {
	color: white;
	opacity: 1;
	transition: 0.3s opacity;
}
.wp-block-cover-image .blocks-editable a:hover,
.wp-block-cover-image .blocks-editable a:focus,
.wp-block-cover-image .blocks-editable a:active {
	color: white;
	opacity: 0.5;
}
.has-background-dim {}
.has-parallax {}

/* Video */
.wp-block-video {
	margin: 0 0 1.6em;
}
.wp-block-video video {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

/* Audio */
.wp-block-audio {}

/* Pullquotes */
.wp-block-pullquote > .blocks-editable p,
.wp-block-pullquote > p {
	font-size: 36px;
	font-style: normal;
	font-family: "Zilla Slab", "Merriweather", Georgia, "Times New Roman", serif;
	margin: 0 0 .8em;
	line-height: 1.1;
	color: #4cb0c1;
}
.wp-block-pullquote {
	color: #4cb0c1;
	border-top: 2px dashed currentColor;
	border-bottom: 2px dashed currentColor;
	margin-bottom: 1.6em;
	padding: 1.6em .8em;
}
.wp-block-pullquote > p {
	font-size: 36px;
	font-style: normal;
	font-family: "Zilla Slab", "Merriweather", Georgia, "Times New Roman", serif;
	margin: 0 0 .8em;
	line-height: 1.1;
}
.wp-block-pullquote > cite,
.wp-block-pullquote > .blocks-editable footer {
	font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
	font-style: normal;
	line-height: 1.6;
	font-size: 14px;
	color: #444;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

.wp-block-pullquote.alignleft > p,
.wp-block-pullquote.alignright > p {
	font-size: 24px;
	line-height: 1.4;
}

/* Tables */
.wp-block-table {
	display: table;
}
.wp-block-table.alignleft,
.wp-block-table.alignright {
	max-width: 50%;
}

/* Preformatted */
.wp-block-preformatted {}

/* Code */
.wp-block-code {}

/* Verse */
.wp-block-verse {
	border: 0;
	font-family: inherit;
	padding: 0;
}

.wp-block-verse.aligncenter {
	text-align: center;
}

.wp-block-verse.alignright {
	text-align: right;
}

/* Separator */
.wp-block-separator {
	border-bottom: 2px dashed #e06e53;
	margin-bottom: 1.6em;
	width: 66%;
	max-width: 66%;
}
/* Buttons */
.wp-block-button {
	background-color: #e06e53;
	margin-bottom: 1.6em;
	border-radius: 3px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 14px;
}

.wp-block-button a {
	transition: 0.3s color;
}

.wp-block-button a:hover,
.wp-block-button a:focus,
.wp-block-button a:active {
	color: rgba(255,255,255,0.5);
}

/* Text Columns */
.wp-block-text-columns {}
.wp-block-column {}

/* Latest Posts */
.wp-block-latest-posts {}
.wp-block-latest-posts__post-date {
	color: #888;
}
.is-grid {}
